<body>
<div class="image">
  <h1 class="title">Tu puerta al futuro legal</h1>
  <h2 class="subtitle">Encuentra información legal, contactos y oportunidades</h2>
</div>
<div class="info">
    <div class="info1">
    <div class="content">
    <img class="image1" src="./assets/Group.png" >
    <div class="combo-text">
      <h1 class="info-title">Perfiles Profesionales</h1>
      <p class="text">Encuentra a los mejores profesionales del derecho que te brindarán asesoramiento</p>
    </div>
    </div>
      <div class="boton">
        <button style="background-color: var(--color-primary); color: white;font-family: var(--lato);font-style: normal;line-height: normal; width: 160px;"  mat-raised-button color="primary">Más información</button>
      </div>
    </div>

  <div class="info1">
    <div class="content">
    <img class="image1" src="./assets/book.png" >
    <div class="combo-text">
      <h1 class="info-title">Revista Jurídica</h1>
      <p class="text">Infórmate y comparte conocimiento legal con la sociedad</p>

    </div>
  </div>
    <div class="boton">
      <button style="background-color: var(--color-primary); color: white;font-family: var(--lato); font-style: normal;line-height: normal; width: 160px;" mat-raised-button color="primary">Más información</button>
    </div>
  </div>
</div>
<div class="filtlers">
  <mat-chip-option (click)="toggleDisabled(0)" [disabled]="isDisabled[0]" [style]="selectedOption === 0 ? selectedStyle : null">Todos</mat-chip-option>
  <mat-chip-option (click)="toggleDisabled(1)" [disabled]="isDisabled[1]" [style]="selectedOption === 1 ? selectedStyle : null"  >Bolivia</mat-chip-option>
  <mat-chip-option (click)="toggleDisabled(2)" [disabled]="isDisabled[2]"  [style]="selectedOption === 2 ? selectedStyle : null"  >Argentina</mat-chip-option>
</div>
<div class="carrusel">
<swiper-container slides-per-view="4"  navigation="true"  autoplay-delay="2500" autoplay-disable-on-interaction="false" rewind="true">
  <swiper-slide  *ngFor="let profiles of profilesDto">
    <br>
    <div class="cards">
      <mat-card >
        <mat-card-header>
        </mat-card-header>
        <img  style="height: 200px; width: 300px" mat-card-image src={{profiles.imageUrl}} >
        <mat-card-content >
          <h2 class="card-title">{{profiles.name}} {{profiles.lastName}}</h2>
          <p class="card-text">
            {{profiles.country}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button style="color:  var(--color-primary); font-family: var(--lato); font-style: normal; line-height: normal; margin-left: 200px">Ver Perfil</button>
        </mat-card-actions>
      </mat-card>
      <!-- Agrega más tarjetas según sea necesario -->
    </div>
    <br>
  </swiper-slide>

</swiper-container>
</div>
<div class="profile-button">
  <button style="background-color: var(--color-primary);color: white; font-family: var(--lato);font-style: normal;line-height: normal;" mat-raised-button>Ver más perfiles</button>
</div>
<footer>
  <div class="footer">
    <div><img class="footer-image" src="./assets/hand-remove.png" ></div>
    <div class="footer-text">
      <h1 class="text">¿Qué es la Status Card?</h1>
      <p>Es una tarjeta que lleva a tu perfil profesional y te conecta con un mundo de ventajas:</p>
      <ul>
        <li class="text">Encuentra clientes, pasantías y oportunidades laborales desde tu perfil.</li>
        <li class="text">Publica artículos en la Revista Jurídica y recibe tu boletín legal.</li>
      </ul>
    </div>
  </div>
</footer>




</body>
