<body>
<div class="image">
  <h1 class="title">Tu puerta al futuro legal</h1>
  <h2 class="subtitle">Encuentra información legal, contactos y oportunidades</h2>
</div>
<div class="info">
    <div class="info1">
    <div class="content">
    <img class="image1" src="./assets/Group.png" >
    <div class="text">
      <h1>Perfiles Profesionales</h1>
      <p>Encuentra a los mejores profesionales del derecho que te brindarán asesoramiento</p>
    </div>
    </div>
      <div class="boton">
        <button style="background-color: var(--color-primary); color: white; width: 160px;" mat-raised-button color="primary">Más información</button>
      </div>
    </div>

  <div class="info1">
    <div class="content">
    <img class="image1" src="./assets/book.png" >
    <div class="text">
      <h1>Revista Jurídica</h1>
      <p>Infórmate y comparte conocimiento legal con la sociedad</p>
      <p></p>

    </div>
  </div>
    <div class="boton">
      <button style="background-color: var(--color-primary); color: white; width: 160px;" mat-raised-button color="primary">Más información</button>
    </div>
  </div>
</div>
</body>
