<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<nav class="navbar" xmlns="http://www.w3.org/1999/html">
  <div class="navbar-logo">
    <img src="./assets/image%202.png" >
  </div>
  <div class="navbar-options">
    <a class="option" routerLink="">PERFILES</a>
    <a class="option" routerLink="">CURSOS Y EVENTOS</a>
    <a class="option" routerLink="">STATUS CARD</a>
    <a class="option" routerLink="">PLANES</a>
    <a class="option" routerLink="">REVISTA</a>
    <a class="option" routerLink="">CONÓCENOS</a>
    <button style="color: white; background-color: var(--color-secondary); margin-left: 40px; font-family: var(--lato);font-size: 12px; font-style: normal;line-height: normal;" mat-raised-button >INICIAR SESIÓN</button>

  </div>
  <div class="navbar-alternative-options">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item >
        <span class="menu">PERFILES</span>
      </button>
      <button mat-menu-item class="menu">
        <span class="menu">CURSOS Y EVENTOS</span>
      </button>
      <button mat-menu-item class="menu">
        <span class="menu">STATUS CARD</span>
      </button>
      <button mat-menu-item class="menu">
        <span class="menu">PLANES</span>
      </button>
      <button mat-menu-item class="menu">
        <span class="menu">REVISTA</span>
      </button>
      <button mat-menu-item class="menu">
        <span class="menu">CONÓCENOS</span>
      </button>
      <button mat-menu-item class="menu">
        <span class="menu">INICIAR SESIÓN</span>
      </button>
    </mat-menu>
    </div>

</nav>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
