/*@import '~@angular/material/prebuilt-themes/indigo-pink.css';*/

@font-face {
  font-family: 'Lato';
  src: url('../../frontPT/src/assets/Lato-Regular.ttf') format('ttf');
  /* Puedes agregar otras propiedades de la fuente aquí, como font-weight, font-style, etc. */
}
body {
  margin: 0;
  padding: 0;
}
:root {
  --color-primary: #24245B;
  --color-secondary: #8660E2;
  --lila-b:#C6C1E4;
  --silver: #C0C0C0;
  --lato: 'Lato', sans-serif;
}
